<html>

<head>
<title>빅데이터 수집시스템 개발 kyh</title>
</head>

<body>
<!--문항1-->
<h1>빅데이터 수집시스템 개발</h1>
<!--문항2-->
<h2>김용현</h2>
<!--문항3-->
<p>첫번째 문단은 <br>줄 <br>바꿈 <br>단락입니다.</p>
<!--문항4-->
<p><b>두번째 문단은</b> bold 선택여부 입니다.</p>
<!--문항5-->
<p><strong>세번째 문장은 강조하여 표시합니다.</strong></p>
<!--문항6-->
<p><i>4번째 문장은 이테릭체입니다.</i></p>
<!--문항8-->
<p>5번째 문장은 <mark>하이라이팅</mark> 됩니다 </p>
<!--문항9-->
<p>내가 좋아하는 과일을 <ins>망고</ins>와 파인애플입니다.</p>
<!--문항10-->
<p>X<sub>1</sub><sup>2</sup> + X<sub>2</sub><sup>3</sup> = Y</p>
<!--문항11-->
<p>HTML는 <q>웹 페이지를 만들기 위한 하이퍼텍스트 마크업 언어</q>이다.</p>
<!--문항12, 14-->
<div style="background-color: red; color:blue">style 속성을 이용한 글자색 변경<br><br></div>
<!--문항13-->
<style>body { background-color: lightgreen; }</style>
<!--문항15-->
<a href="//www.naver.com">네 이 버(누르면 네이버로 연결)</a>

</body>
</html>
